<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>{{ page.title }}</title>
<meta name="author" content="Ryan McGreevy" />
<link href="http://feeds.feedburner.com/rmcgreevy" rel="alternate" title="Ryan McGreevy" type="application/atom+xml" />

<link rel="stylesheet" type="text/css" href="/css/default.css" />
</head>
<body>

<div id="outer">

	<div id="upbg"></div>

	<div id="inner">

		<div id="header">
			<h1><span>Ryan </span>McGreevy</h1>
		</div>
	
		<div id="splash"></div>
	
		<div id="menu">
			<ul>
				<li class="first"><a href="/index.html">Home</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>

		</div>
	

		<div id="primarycontent">
		
			<!-- primary content start -->
			{{ content }}

			<!-- primary content end -->
	
		</div> 
		
		<div id="secondarycontent">

			<!-- secondary content start -->
		
			<h3>About Me</h3>
			<div class="content">
				<img src="/images/pic2.jpg" class="picB" alt="" />
				<p><strong>Nullam turpis</strong> vestibulum et sed dolore. Nulla facilisi. Sed tortor. lobortis commodo. <a href="#">More ...</a></p>
			</div>
			
			<h3>Archive</h3>
			<div class="content">
				<ul class="linklist">
				  <ul class="posts">
				    {% for post in site.posts %}
				      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
				    {% endfor %}
  				  </ul>
				</ul>
			</div>

			<!-- secondary content end -->

		</div>
	
		<div id="footer">
		
			&copy; My Website. All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a>.
		
		</div>

	</div>

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24022167-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
